CONFIG_ARM=y
CONFIG_SOC_ACTIONS_ATB110X=y
CONFIG_BOARD_ATB1103_DONGLE=y

CONFIG_CPU_HAS_SYSTICK=y

#
# General Kernel Options
#
CONFIG_THREAD_STACK_INFO=y
CONFIG_INIT_STACKS=y

CONFIG_SYS_POWER_MANAGEMENT=n

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable uart driver
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_ACTS=y

# enable gpio driver
CONFIG_GPIO=y
CONFIG_GPIO_ACTS=y
